html {
  position: relative;

  box-sizing: border-box;

  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-width: 850px;
  height: 100%;
  
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: 20px;
}

#root {
  height: 100%;
}

div[data-reactroot] {
  height: 100%;
}
