.manual-add {
  padding: 0 50px;

  span > &__succeed-popup {
    &--fade-enter {
      opacity: 0;

      transform: scale(.8);
    }
    &--fade-enter-active {
      opacity: 1;

      transform: scale(1);

      transition: .2s ease-in all;
    }

    &--fade-leave {
      opacity: 1;

      transform: scale(1);
    }

    &--fade-leave-active {
      opacity: 0;

      transform: scale(.5);

      transition: .2s ease-out all;
    }
  }
}