.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding-bottom: 50px;

  &__spin-loader-container {
    position: fixed;
    top: 200px;
    left: 50%;

    margin-left: -50px;

    z-index: 2;
  }
}