.movie-popup {
  position: fixed;

  width: 100%;
  height: 100%;

  &__inner {
    position: absolute;
    top: 100px;
    left: 50%;

    display: flex;

    width: 900px;
    min-height: 400px;

    margin-left: -450px;
    padding: 10px;

    border: 1px solid $primary-color;

    background: #fff;
  }

  &__poster {
    flex: 0 0 300px;

    max-width: 300px;
    height: 400px;
  }

  &__desc {
    display: flex;
    flex-wrap: wrap;

    padding: 0 10px;
  }

  &__title {
    width: 100%;

    font-size: 18px;

    margin-bottom: 0;
  }

  &__genre {
    width: 100%;

    margin-top: 0;

    font-weight: 300;
    font-style: italic;
  }

  &__plot {
    width: 100%;
  }

  &__rating {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
  }

  &__director {
    width: 100%;
  }

  &__actors {
    width: 100%;
  }

  &__metascore {
    margin-right: 10px;
  }

  &__btn {
    margin: auto;
    margin-bottom: 20px;
  }

  &__btn-close {
    position: absolute;
    top: 15px;
    right: 15px;

    fill: #000;

    cursor: pointer;

    &:hover {
      fill: $secondary-color;
    }

    &:active {
      opacity: .4;
    }
  }
}