.movie-popup {
  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  z-index: 2;

  &__inner {
    position: absolute;
    top: 150px;
    left: 8%;

    display: flex;

    width: 84%;
    min-height: 400px;

    padding: 20px 10px;
    padding-right: 40px;

    border: 1px solid $primary-color;

    background: #fff;
  }

  &__btn-close {
    position: absolute;
    top: 15px;
    right: 15px;

    fill: #000;

    cursor: pointer;

    &:hover {
      fill: $secondary-color;
    }

    &:active {
      opacity: .4;
    }
  }
}