.movie-extended-info {
  display: flex;

  flex-basis: 100%;

  &__poster {
    flex: 0 0 300px;

    max-width: 300px;
    height: 400px;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    padding: 0 10px;
  }

  &__title {
    font-size: 18px;

    margin: 0;
  }

  &__genre {
    margin-top: 0;

    font-weight: 300;
    font-style: italic;
  }

  &__duration {
    margin-bottom: 0;
  }

  &__release {
    margin-bottom: 0;
  }

  &__rating {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 0;
  }

  &__director {
    margin-bottom: 0;
  }

  &__actors {
    margin-bottom: 0;
  }

  &__metascore {
    margin-right: 10px;
    margin-bottom: 0;
  }

  &__imdb-rating {
    margin-bottom: 0;
  }

  span > &__additional-wrapper {
    &--fade-enter {
      opacity: 0;
    }
    &--fade-enter-active {
      opacity: 1;

      transition: .2s ease-in all;
    }

    &--fade-leave {
      opacity: 1;
    }

    &--fade-leave-active {
      opacity: 0;

      transition: .2s ease-out all;
    }
  }

  &__additional {
    margin-top: 0;

    font-size: 20px;
    color: #008000;
  }

  &__controls {
    width: 100%;

    margin-top: auto;

    text-align: center;
  }
}