.movie-form {
  display: flex;
  flex-direction: column;

  padding: 50px 0;

  &__field-group {
    display: flex;
    flex: 0 0 100%;
    align-items: flex-start;

    margin-bottom: 10px;

    font-size: 22px;
    line-height: 1;
  }

  &__field {
    flex: 1 1 auto;

    min-width: 0;

    padding: 10px;

    border: 1px solid $primary-color;
    border-radius: 2px;

    outline: none;

    font-size: 18px;

    &:focus {
      border-color: $secondary-color;

      box-shadow: inset 0 0 3px rgba(196, 164, 49, .6);
    }

    &--error {
      border-color: #b00000;
    }
  }

  &__label {
    flex: 0 0 150px;

    margin-top: 10px;

    &--padding {
      padding-left: 15px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  &__validation-notice {
    position: relative;

    margin: 5px 0;
    padding: 3px 0;
    padding-left: 30px;

    font-size: 16px;
    color: #b00000;

    &:after {
      content: '';

      position: absolute;
      left: 5px;
      top: 2px;

      width: 20px;
      height: 20px;

      background: url("img/exclamation-mark.svg");
      background-size: 100%;
    }
  }

  textarea {
    resize: none;
  }

  button {
    align-self: center;
  }
}