.nav {
  width: 100%;
  
  margin: 0;
  padding: 0 50px;

  border-bottom: 1px solid $primary-color;

  background: linear-gradient(to bottom, #626262, #222);

  &__item {
    display: inline-block;

    border-right: 2px solid $primary-color;

    list-style: none;

    &:first-child {
      border-left: 2px solid $primary-color;
    }
  }
}