.search-bar {
  position: relative;

  display: flex;

  width: 100%;

  &__input {
    flex-grow: 1;

    padding: 10px;

    border: 1px solid $primary-color;
    border-right: none;

    outline: none;

    font-size: 18px;
  }
}