// Downloaded component.

$loaderSize       : 100px;
$radThickness     : $loaderSize / 10;
$spinSpeed        : 700ms;
$backgroundColor  : #eee;
$forgroundColor   : #ccc;
$masksColor       : #fff;
$middleCircleSize : 68%;

@mixin animation ($params) {
  animation: $params;
}

.spin {
  @include animation(spin $spinSpeed infinite linear);
}
  @keyframes spin {
    to { transform: rotate(360deg); } }

.rspin {
  @include animation(rspin $spinSpeed*3 infinite linear);
}
  @keyframes rspin {
    to { transform: rotate(-360deg); } }

.loader {
  background-color: $backgroundColor;
  border: 1px solid $secondary-color;
  border-radius: 100%;

  position: relative;

  height: $loaderSize;
  width: $loaderSize;

  overflow: hidden; 
  .c {
    position: absolute;
    left: 16%;
    top: 50%;

    margin: -$middleCircleSize/2 0 0 -$middleCircleSize/2;

    width:$middleCircleSize;
    height: $middleCircleSize;

    background-color: $masksColor;

    border: 1px solid $secondary-color;
    border-radius:100%;

    z-index: 3;
  }
  
  .d {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    .e { 
      $thisWidth: $loaderSize*0.2;

      position: absolute;
      top: 1%;
      left: 50%;

      margin: 0 0 0 -$thisWidth/2;
      height: 14px; width: $thisWidth;

      transform: rotate(10deg) skew(20deg);

      border-radius: 3px;

      background: #999;
     }
  }
  .r {
    z-index: 2;

    position: absolute;
    left: 50%;
    top: -1px; 
    bottom: -1px;

    margin-left: -($radThickness)/2;
    background-color: $masksColor;

    width: ($radThickness); 
  }

  .r1 { 
    transform: rotate(0deg);
  }

  .r2 { 
    transform: rotate(45deg);
  }

  .r3 { 
    transform: rotate(90deg);
  }

  .r4 { 
    transform: rotate(135deg);
  }
}