.wishlist-movie {
  position: relative;

  margin-bottom: 30px;
  padding: 10px;

  border: 1px solid $primary-color;

  list-style: none;

  transition: background-color ease .2s;

  &--watched {
    background: rgba(179, 179, 179, .3);
  }

  &__watched-info {
    position: absolute;
    right: 5px;
    top: 0;

    transform: rotate(30deg);

    font-size: 38px;
    font-weight: 700;
    color: $secondary-color;
  }

  span > &__watched-info-wrapper {
    &--fade-enter {
      opacity: 0;
    }
    &--fade-enter-active {
      opacity: 1;

      transition: .2s ease-in all;
    }

    &--fade-leave {
      opacity: 1;
    }

    &--fade-leave-active {
      opacity: 0;

      transition: .2s ease-out all;
    }
  }
}